<div class="w-full duration-50 flex h-32 animate-enter gap-4 p-5 fade-in-25 md:gap-6">
    <div class="size-9 shrink-0 rounded-full bg-gray-100"></div>
    <div class="flex w-full max-w-3xl flex-col gap-4 rounded-lg pt-2">
        <div
            class="h-5 w-10/12 origin-left animate-loading bg-[length:200%] rounded-sm bg-gradient-to-r from-blue-50 from-30% via-blue-600/60 to-blue-50 bg-2x opacity-0 delay-100"
        >
        </div>
        <div
            class="h-5 w-full origin-left animate-loading bg-[length:200%] rounded-sm bg-gradient-to-r from-blue-500/60 via-slate-100 via-30% to-blue-500/60 to-60% bg-2x opacity-0 delay-150 duration-700"
        >
        </div>
        <div
            class="duration-600 h-5 w-3/5 origin-left animate-loading bg-[length:200%] rounded-sm bg-gradient-to-r from-blue-50 from-40% via-blue-500/60 to-blue-50 to-70% bg-2x opacity-0 delay-200"
        >
        </div>
    </div>
</div>
<style>
    /* This keyframe will create the initial slide animation  */
    @keyframes expanding {
        0% {
            transform: scaleX(0);
            opacity: 0;
        }
        100% {
            transform: scaleX(1);
            opacity: 1;
        }
    }

    /* This keyframe will create the loading gradient effect */
    @keyframes moving {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -200% 0;
        }
    }

    .loading-bar {
        height: 1.25rem;
        width: 83.33%; /* 10/12 in percentage */
        transform-origin: left; /* Without this, you'll notioce the `expanding` animation starts expanding from the  middle instead of shooting out from the left */
        animation:
            expanding 0.4s 0.7s forwards linear,
            moving 1s 1s infinite forwards linear;
        /* forward 1s 1s infinite forwards linear; */
        border-radius: 0.125rem; /* Assuming sm is equivalent to 0.5rem */
        background-image: linear-gradient(to right, #eff6ff 30%, #2563eb60 60%, #eff6ff);
        background-size: 200% auto;
        opacity: 0; /* The `expanding` animation will fade in the loading bar */
        animation-delay: 100ms;
    }

    .animate-loading {
        animation:
            expanding 0.4s 0.7s forwards linear,
            moving 1s 1s infinite forwards linear;
    }
</style>
