---
import BaseLayout from "../layouts/base-layout.astro";
---

<BaseLayout title="Home">
    <main class="mt-8">
        <h1 class="text-4xl font-medium text-center">HELLO, I'm Weibo : )</h1>
        <p class="mt-2 text-zinc-600 text-center">
            I'm rebuilding my website at the moment. This is empty for now but if you need to contact me, my email is
            weibo zhang 50 at gmail com (so bots can't scrape this)
        </p>
    </main>
</BaseLayout>
