---
import { Image } from "astro:assets";
---

<div class="flex items-center justify-center h-16 gap-2 mt-16 border-b overflow-clip border-b-zinc-100">
    <Image class="" src="https://i.giphy.com/D5GyCFkInbJlu.webp" width="280" densities={[1.5, 2]} height="300" alt="" />
</div>
<p class="my-6 text-sm font-light text-center text-zinc-400">Copyright 2024 Weibo Zhang ©️</p>
