---
import { Image } from "astro:assets";
---

<div class="gap-2 overflow-clip h-16 items-center border-b-zinc-100 mt-16 border-b flex justify-center">
    <Image class="" src="https://i.giphy.com/D5GyCFkInbJlu.webp" width="280" densities={[1.5, 2]} height="300" alt="" />
</div>
<p class="text-center my-6 text-sm font-light text-zinc-400">Copyright 2024 Weibo Zhang ©️</p>
