---
import { Icon } from "astro-icon/components";

export type Props = {
    icon: string;
    label: string;
    href: string;
    class?: string;
};

const { icon, label, href, class: className } = Astro.props;
---

<a
    href={href}
    target="_blank"
    class="flex items-center justify-center gap-1 p-2 text-sm transition border rounded-lg max-w-32 grow hover:rotate-2 bg-zinc-50 border-zinc-100 sm:text-base sm:px-4 sm:gap-2"
>
    <Icon class={"size-5 sm:size-6 shrink-0 " + className} name={icon} />
    {label}
</a>
