---

---

<nav class="max-w-lg mx-auto py-4 w-fit">
    <ul class="flex gap-4 text-sm font-light text-zinc-400">
        <li><a href="/" class="hover:text-zinc-800 transition-colors">home</a></li>
        <li><a href="/blog" class="hover:text-zinc-800 transition-colors">blog</a></li>
        <li><a href="/projects" class="hover:text-zinc-800 transition-colors">projects</a></li>
        <li><a href="/now" class="hover:text-zinc-800 transition-colors">now</a></li>
    </ul>
</nav>
