---
import BaseLayout from "../../layouts/base-layout.astro";
import { projectsData } from "../../data/projects";
---

<BaseLayout title="Projects">
    <div class="max-w-5xl mx-auto mt-3 divide-y divide-gray-200 dark:divide-gray-700">
        <div class="gap-4 columns-2xs">
            {
                projectsData.map(({ href, title, date, description }) => (
                    <article class="mb-4 break-inside-avoid-column ">
                        <div class={` rounded-md bg-zinc-50 border border-zinc-100  dark:border-gray-700`}>
                            <div class="p-6">
                                <time class="font-light text-zinc-500 " datetime={date.toISOString()}>
                                    {date.toLocaleString("en-us", {
                                        month: "long",
                                        year: "numeric",
                                    })}
                                </time>
                                <h2 class="text-2xl font-medium leading-8 tracking-tight ">{title}</h2>
                                <p class="mb-3 text-gray-500 max-w-none dark:text-gray-400">{description}</p>
                                <a href={href} target="_blank" class="">
                                    Visit &rarr;
                                </a>
                            </div>
                        </div>
                    </article>
                ))
            }
        </div>
    </div>
</BaseLayout>
