---
import FormattedDate from "../components/formatted-date.astro";
type Props = { frontmatter: BlogType };
import BaseLayout from "./base-layout.astro";
import type { BlogType } from "../content/config";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
    <div class="max-w-3xl mx-auto w-fit">
        <main class="prose prose-p:font-light prose-p:text-zinc-900">
            <div class="my-8">
                <h1 class="mb-0">{frontmatter.title}</h1>
                <FormattedDate date={new Date(frontmatter.date)} />
            </div>

            <slot />
        </main>
    </div>
</BaseLayout>
