---
import FormattedDate from "../components/formatted-date.astro";
import type { CollectionEntry } from "astro:content";

type Props = { frontmatter: BlogType };
import Layout from "./base-layout.astro";
import type { BlogType } from "../content/config";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <main class="prose">
        <div class="my-8">
            <h1 class="mb-0">{frontmatter.title}</h1>
            <FormattedDate date={new Date(frontmatter.date)} />
        </div>

        <slot />
    </main>
</Layout>
